<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
</head>
<body>
        <a href="/">GhostPost</a>
        <a href="/boasts/">Boasts</a>
        <a href="/roasts/">Roasts</a>
        <a href="/sorted/">Sort by total votes</a>
        <a href="/add_post/">add post</a>
   <div>

        {% for item in data %}
           <h2>{{item.post_content}}</h2>
            {% if item.is_boast %}
                <h3>Boast</h3>
            {% else %}
                <h4>Roast</h4>
            {% endif %}
            <button><a href='/upvote/{{ item.id}}/'>Upvote</a><button>
            <h6>{{item.total_votes}}</h6>
            <button><a href='/downvote/{{item.id}}/'>Downvote</a></button>
            <h7>{{item.post_date}}</h7>
            <button><a href='/delete/{{item.id}}/'>delete Post</a></button>
        {% endfor %}
    </ul>
    