<!-- { % extends 'roasts/index.html' %}
<h1> Add a roast</h1>
<form action="" method="roast">
    {% csrf_token %}
    {{ form_roast}}
    <input type="submit" value="Submit" />
</form> -->

<a href='/'>boast home</a>
<a href='/PostForm/'>post your opinion</a>
<a href='/totalroasts/'></a>

<h1> Add a roasts</h1>

{ % for item in roasts %}
    <ul>

        <h1>{{data.Upvote}}</h1>
        <h2>{{data.Downvote}}</h2>
        <h3>{{data.content}}</h3>
        <h4>{{data.submit_post_date}}</h4>
    </ul>

{% endfor %}
